# Typical files.
.DS_Store
.AppleDouble
.LSOverride

# On root of mounted volumes.
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# IDE configurations.
*.iml
.idea/
.vscode/
.project/

# Python.
.venv
venv/
__pycache__/

# Tokens, logs, and etc.
config.json
logs/*.log
out/
media/

